

.text-field {
    -fx-font-size: 20pt;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-control-inner-background: grey;
}

.text-area {
    -fx-background-color: white;
    -fx-control-inner-background: white;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15pt;
    -fx-padding: 5 5 5 5;
}
