

.text-field {
    -fx-font-size: 17pt;
    -fx-font-family: "Segoe UI Semibold";

    -fx-text-fill: black;
    -fx-control-inner-background: white;
}

.text-area {
    -fx-background-color: white;
    -fx-control-inner-background: white;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15pt;
    -fx-padding: 5 5 5 5;
}
